#SPDX-License-Identifier: MIT-0
---
# tasks file for apache
# tasks file for roles/apache
#
- name: Install the latest version of Apache
  ansible.builtin.yum:
    name: 
      - httpd
      - firewalld
    state: latest

- name: Start serice httpd, if not started
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
  loop:
    - httpd
    - firewalld

- name: Create a Index.html
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: 0644

- name: Permanently enable http service and enable it immediately
  ansible.posix.firewalld:
    service: http
    state: enabled
    permanent: true
    immediate: true



